{% extends "base.html" %}


{% block style %}

.abc {
	background-color : red;
}

.def {
	background-color: green;
}

{% endblock style %}


{% block content %}

	<h1>Tags :</h1>
<!-- 
	<p>
		<form method="GET" action="">
			<input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
			<input type="submit" name="" value="Search">

		</form>
	</p> -->
	<ul>
{% for instance in object_list %}
	<li><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a> {{ instance.produits.count }} produit{% if instance.produits.count > 1 %}s{% endif %}
	</li>

{% comment %}
	<!-- <li><a href="{{ instance.get_absolute_url instance.id instance.slug }}">{{ instance.title }}</a> - {{ instance.description }} {{ instance.price }}</li> -->
{% endcomment %}
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>

{% endblock content %}